body{
    font: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.navbar {
    background-color:rgb(157, 211, 255);
}
.quem-somos {
    background-color: rgba(0, 0, 255, 0.24);
    color: whitesmoke;
}
.margin{

    padding-bottom: 50px;
    padding-top: 10px;
}
.parceiros{
    background-color: rgb(252, 177, 177);
}
.bg-footer{
    background-color: black;
    color: white;
    padding-bottom: 50px;


}